# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view': [
    {
      'label': 'Toggle tree-view-finder'
      'command': 'tree-view-finder:toggle'
    }
    {'type': 'separator'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tree-view-finder'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'tree-view-finder:toggle'
        }
      ]
    ]
  }
]
