// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@finder-tool-height: 27px;

.with-finder.tree-view-scroller {
  -webkit-transform: translate(0, @finder-tool-height);
  height: calc(~'100% - @{finder-tool-height}');
}

tree-view-finder-tool {
  display: -webkit-flex;
  position: absolute;

  .btn-group {

    .btn {

    }

    .disable {
      color: lightgray;
    }

  }
}
