// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@finder-tool-height: 27px;

atom-workspace atom-workspace-axis.tree-view-finder-fit {
  display: none;
}

tree-view-finder-tool {
  display: -webkit-flex;
  overflow: visible;

  .btn-group {

    .btn {

    }

    .disable {
      color: lightgray;
    }

  }
}
